{% extends 'reviews/base.html' %}

{% block title %}
    {{ review.user_name }} 's Reviews
{% endblock title %}

{% block content %}
    <hr>
        <h1>Feedback By {{ review.user_name }}</h1>
        <p>Rating: {{ review.rating }}</p>
        <p>Feedback Given: <br> {{ review.review_text }}</p>
        {% if is_favourite %}
            <p>This is my favourite review!</p>
        {% else %}
            <form action="/reviews/favourite" method="POST">
                {% csrf_token %}
                <input type="hidden" name="review_id" value="{{ review.id }}">
                <button>Favourite</button>
            </form>
        {% endif %}
        
        
        
    <hr>
{% endblock content %}